<form (submit)="onAddStork(formAddStork)" #formAddStork="ngForm">
  <div class="field">
    <label class="label">Unique Stork ID</label>
    <p class="control has-icons-left">
      <input [class]="idInput" type="text" name="inputStorkID" ngModel required minlength="7" placeholder="STR1234..." />
      <span class="icon is-small is-left"> <i class="fas fa-id-badge"></i> </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Nickname</label>
    <p class="control has-icons-left has-icons-right">
      <input [class]="nicknameInput" type="text" name="inputStorkNickname"ngModel required placeholder="Mona Lisa..." />
      <span class="icon is-small is-left"> <i class="fas fa-tag"></i> </span>
    </p>
  </div>
  <div class="field">
    <p class="control"><button class="button is-primary" type="submit">Create</button></p>
  </div>
</form>
