<!-- <div class="field">
    <label class="label">Label</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div> -->

<div class="field">
  <label class="label">Nickname</label>
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" [(ngModel)]="enteredNickname" placeholder="Mona Lisa..." />
    <span class="icon is-small is-left"> <i class="fas fa-tag"></i> </span>
  </p>
</div>
<div class="field">
  <label class="label">Unique Stork ID</label>
  <p class="control has-icons-left">
    <input class="input" type="text" [(ngModel)]="enteredStorkID" placeholder="STR1234..." />
    <span class="icon is-small is-left"> <i class="fas fa-id-badge"></i> </span>
  </p>
</div>
<div class="field">
  <p class="control"><button class="button is-primary" (click)="onAddStork()">Create</button></p>
</div>
