<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Stork Details.</p>
        <form (submit)="onAddStork(formAddStork)" #formAddStork="ngForm">
          <div class="field">
            <label class="label">Unique Stork Code</label>
            <p class="control has-icons-left">
              <input
                [class]="idInput"
                (keydown.space)="$event.preventDefault()"
                type="text"
                name="inputStorkID"
                ngModel
                required
                minlength="7"
                maxlength="7"
                pattern="[A-Z0-9]*"
                placeholder="STR1234..."
              />
              <span class="icon is-small is-left">
                <i class="fas fa-id-badge"></i>
              </span>
            </p>
            <p [class]="idMsgError">
              Invalid Stork Code: Must be exactly 7 characters long and only
              consist of <u>capital</u> letters and numbers!!
              <strong>Example: STR1234</strong>
            </p>
            <p [class]="idMsgGood">Valid Stork Code</p>
          </div>
          <div class="field">
            <label class="label">Nickname</label>
            <p class="control has-icons-left has-icons-right">
              <input
                [class]="nicknameInput"
                (keydown.space)="$event.preventDefault()"
                type="text"
                name="inputStorkNickname"
                ngModel
                required
                minlength="4"
                maxlength="20"
                pattern="[a-zA-Z0-9 ]*"
                placeholder="Mona Lisa..."
              />
              <span class="icon is-small is-left">
                <i class="fas fa-tag"></i>
              </span>
            </p>
            <p [class]="nicknameMsgError">
              Invalid Nickname: Must be 4 - 20 characters long and only consist
              of letters and numbers! (No Spaces!)
              <strong>Example: YourNickname1234</strong>
            </p>
            <p [class]="nicknameMsgGood">Valid Nickname</p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-primary" type="submit">Create</button>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Your Stork Devices.</p>
        <app-stork-list></app-stork-list>
      </div>
    </div>
  </div>
</div>
