<body>
    <app-header></app-header>
    <section class="section">
      <div class="container">
          <div class="tile is-ancestor">
              <div class="tile is-parent">
                  <div class="tile is-child box">
                    <p class="title">Stork Details.</p>
                    <app-stork-create></app-stork-create>
                  </div>
                </div>
              <div class="tile is-3 is-vertical is-parent">
                <div class="tile is-child box">
                  <app-stork-list></app-stork-list>
                </div>
              </div>
            </div>
      </div>
    </section>
  </body>


