<nav class="panel">
  <div *ngIf="userIsAuthenticated; else loggedOut">
    <div class="card" *ngFor="let stork of storks">
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <div class="media">
              <div class="media-content">
                <p class="title is-2">{{ stork.nickname }}</p>
                <p class="subtitle is-5">{{ stork.stork_code }}</p>
              </div>
            </div>
            <div class="content">
              <p class="title is-3">Status</p>
              <p class="subtitle is-5">
                All Ok!
              </p>
              <br />
              <p class="title is-3">Location</p>
              <p class="subtitle is-5">
                {{ stork.latitude }}, {{ stork.longitude }}
              </p>
              <br />
              <p class="title is-3">Temperature</p>
              <p class="subtitle is-5">
                21 °C
              </p>
              <br />
              <p class="title is-3">Humidity</p>
              <p class="subtitle is-5">
                50%
              </p>
              <br />
              <p class="title is-4">Last Seen</p>
              <p class="subtitle is-6">
                12:00 PM - 5 Jan 2019
              </p>
            </div>
          </div>
          <div class="column">
            <agm-map
              [zoom]="10"
              [latitude]="stork.latitude"
              [longitude]="stork.longitude"
            >
              <agm-marker
                [latitude]="stork.latitude"
                [longitude]="stork.longitude"
              ></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" [routerLink]="['/storks/edit', stork.id]"
          >Edit</a
        >
        <a class="card-footer-item" (click)="onDelete(stork.id)">Delete</a>
      </footer>
    </div>
  </div>
  <ng-template #loggedOut>
    Please <strong>Login</strong> To See Your Storks
  </ng-template>
</nav>
