<section class="hero">
  <div class="hero-body">
    <div class="container ">
      <div class="column is-8 is-offset-2">
        <h3 class="title has-text-grey has-text-centered">Sign Up.</h3>
        <p class="subtitle has-text-grey has-text-centered">
          Create A Stork Account.
        </p>
        <div class="box">
          <form (submit)="onSignUp(formSignup)" #formSignup="ngForm">
            <label class="label">Username</label>
            <div class="field">
              <div class="control">
                <input
                  class="input is-medium"
                  ngModel
                  type="text"
                  autofocus=""
                  placeholder="Username"
                  name="inputUserSignUpUsername"
                  required
                />
              </div>
            </div>
            <label class="label">Email</label>
            <div class="field">
              <div class="control">
                <input
                  class="input is-medium"
                  ngModel
                  type="email"
                  placeholder="Email"
                  name="inputUserLoginEmail"
                  required
                />
              </div>
            </div>
            <label class="label">Password</label>
            <div class="field">
              <div class="control">
                <input
                  class="input is-medium"
                  ngModel
                  type="password"
                  placeholder="Password"
                  name="inputUserLoginPassword"
                  required
                />
              </div>
            </div>
            <hr class="hr" style="margin: 10;" />
            <label class="label">Your Name</label>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-medium"
                      ngModel
                      type="text"
                      placeholder="First Name"
                      name="inputUserSignUpFName"
                      required
                    />
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-medium"
                      ngModel
                      type="text"
                      placeholder="Second Name"
                      name="inputUserSignUpSName"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
            <label class="label">Address</label>
            <div class="field">
              <div class="control">
                <input
                  class="input is-medium"
                  ngModel
                  type="text"
                  placeholder="Address"
                  name="inputUserSignUpAddress"
                  required
                />
              </div>
            </div>
            <label class="label">Phone Number</label>
            <div class="field">
              <div class="control">
                <input
                  class="input is-medium"
                  ngModel
                  type="tel"
                  placeholder="Phone Number"
                  name="inputUserSignUpPhoneNumber"
                />
              </div>
            </div>
            <p class="control">
              <button
                [disabled]="formSignup.invalid"
                type="submit"
                class="button is-block is-info is-medium is-fullwidth"
              >
                Sign Up
              </button>
            </p>
          </form>
        </div>
        <p class="has-text-grey has-text-centered">
          <a [routerLink]="['/login']">Already have an account? Login</a>
        </p>
      </div>
    </div>
  </div>
</section>
